<%- include("partials/header"); -%>
<!-- Custom styles -->
<link href="css/login.css" rel="stylesheet">
</head>

<body class="text-center" style="background-color: #b6d5e1">
  <form class="form-signin" action="/login" method="post">
      <a href="/home"><img src="images/hn-logo-tr.png" width="250px" ></a>
      <!-- <h2 class="my-4 font-weight-normal">Hi, Neighbours!</h2> -->

      <% if (message != "") { %>
      <div class="alert alert-<%= statusCode == 400 ? 'danger' : 'success' %>" role="alert">
        <%= message %>
      </div>
      <%}%>

      <label for="userid" class="sr-only">Username</label>
      <input type="" id="userid" name="userid" class="form-control" placeholder="Username" required autofocus>

      <label for="password" class="sr-only">Password</label>
      <input name="password" type="password" class="form-control" placeholder="Password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit" id="login" name="login">Login</button>

      <div class="mt-2 mb-5">
        <small class="text-muted">Don't have an account? <a href="/signup">Signup</a></small>
      </div>

      <%- include("partials/copyright"); -%>
  </form>
<%- include("partials/footer"); -%>
